@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-07-20 12:00:36
 * @version $Id$
 */
  .sliderWrap{    width: 1002px;
    height: 380px;
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/}
  .sliderWrap>ul{padding: 0; margin: 0; height: 100%; left: 0; position: absolute;}
  .sliderWrap>ul>li{float: left;  height: 380px;}
  .sliderWrap>ul>li img{width: 100%;}
.arrowLeft{position: absolute; left: 30px; top: 50%; width: 50px; height: 50px; cursor: pointer; background: #fff;}
.transitionAni{
    transition: all 0.8s cubic-bezier(.23,1,.32,1);
    /*transition: transform 1s;*/
  }
  .arrowLeft{
    transition: all 0.4s ease;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0,0,0,0.6);
    border-radius: 6px;
  }
  .arrowLeft:hover{
    background: rgba(0,0,0,0.8);
    transform: scale(1.1);
  }
  .arrowRight{
    transition: all 0.4s ease;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0,0,0,0.6);
    border-radius: 6px;
  }
  .arrowRight:hover{
    background: rgba(0,0,0,0.8);
    transform: scale(1.1);
  }
  .subBtn{position: absolute; bottom: 50px; left: 50%;}
  .subBtn i{display: inline-block; width: 10px; height: 10px; border-radius: 50%; background: #fff; margin-left: 8px;}

  /*animation*/
  body,html,#app{height: 100%; overflow: hidden; padding: 0; margin: 0;}
  .content{position: relative; height: 100%;}
  .round,.smRoundBox,.look{
    width:100px;
    height:100px;    
    border-radius: 50%;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;    
  }
  .look{border: 1px #ccc solid; width: 350px; height: 350px;margin-top: -225px; margin-left: -225px;}
  .round{animation: round 1s ease; background: red; border: 1px #ccc solid; z-index: 9;}
  @keyframes round{
    0%{transform:scale3d(0,0,0); opacity: 0}
    70%{transform:scale3d(1.1,1.1,1.1); opacity: 0.8}
    100%{transform:scale3d(1,1,1); opacity: 1}

  }
  .smRound{
    width: 50px; height: 50px; border-radius: 50%; display: inline-block; background: red;
  }
  .smRound.sm1{position: absolute; top: -120px; left:25px;}
  .smRound.sm2{position: absolute; top: -45px; left: -95px;}
  .smRound.sm3{position: absolute; bottom: -45px; left: -100px;}
  .smRound.sm4{position: absolute; top: 170px; left: 30px;}
  .smRound.sm5{position: absolute; top: 100px; left: 150px;}
  .smRound.sm6{position: absolute; top: -45px; left: 150px;}
/*  .round .fade-leave-active,.round .fade-enter-active{
    transition: all 1s ease;  
  }
  .round .fade-enter,.round .fade-enter-active{
    opacity: 0;
  }
  .round .fade-leave,.round .fade-leave-active{
    opacity: 1;
    transform: translateX(200px);
  }*/